streamlit
nest-asyncio
langdetect
llama-index[llms-ollama]
faiss-cpu
sentence-transformers
pandas
langchain
deep-translator
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
llama-index-vector-stores-faiss
